*/target/*
**/*.o
**/*.pyc
c++/.metadata
**/.idea
**/.vscode
**/.mypy_cache
**/.pytest_cache
*.
.project
c++/first/.settings
c++/hello/.settings
c++/lambda/Debug
*.dblite
c++/lambda/.settings
eval/python/.vscode
eval/c/.vscode
.cproject
